#Class

In [ ]:
class Sum:
    """Represents the attributes: x,y
    """
    pass

In [ ]:
class Sum(object):
    """Represents the attributes: x,y
    """
    pass

In [ ]:
Sum

__main__.Sum

In [ ]:
print(Sum)

<class '__main__.Sum'>

In [ ]:
sum = Sum()

In [ ]:
type(sum)

__main__.Sum

In [ ]:
sum1 = Sum()

In [ ]:
print(sum1)

<__main__.Sum object at 0x7f51acd15a20>

In [ ]:
print(sum)

<__main__.Sum object at 0x7f51acd15748>

In [ ]:
class Sum(object):
    """Represents the attributes: x,y
    """
    def calculate(self,x=0,y=0):
        self.x = x
        self.y = y
        print ("Sum:",self.x+self.y)

objsum = Sum()

objsum.calculate(10,20)

Sum: 30

In [ ]:
wprint(Sum)

<class '__main__.Sum'>

In [ ]:
print(objsum)

<__main__.Sum object at 0x7f431a30c7b8>

#Create a Class Person, object p1
# __init__ Name, Age
name=input("Enter Name")
age=input("Enter Age")
p1 = Person(name,age)
#display 
Name: Tony
Age: 34

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def display(self):
    print("Name:",self.name)
    print("Age:",self.age)

name=input("Enter Name:")
age=input("Enter Age:")
print("Object Creation")
p1 = Person(name,age)
print("Object is created")
p1.display()

Enter Name:arun
Enter Age:20
Object Creation
Object is created
Name: arun
Age: 20

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name=name
        self.age=age
    def display(self):
        print(f"Name = {self.name}\nAge = {self.age}")


name=input(Enter name : ")
age=int(input("Enter age : ))

p1 = Person(name, age)
p1.display()

SyntaxError: ignored

#The init method

The init method (short for “initialization”) is a special method that gets invoked when an object is instantiated. Its full name is __init__ (two underscore characters, followed by init, and then two more underscores).

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

#The self Parameter

By convention, the first parameter of a method is called self

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

#Vehicle

In [ ]:

class Vehicle:
    kind = "car"
    value = 10000000.00
    def __init__(self,name,color="white"):
      self.name = name
      self.color = color
      
    def description(self):
        desc_str = "%s is a %s %s worth Rs.%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

car1=Vehicle("BMW","black")
car2=Vehicle("Benz")

print(car1.description())
print(car2.description())

BMW is a black car worth Rs.10000000.00.
Benz is a white car worth Rs.10000000.00.

#Defining instance varibale using constructor.

In [ ]:
# Python program to show that the variables with a value 
# assigned in the class declaration, are class variables and 
# variables inside methods and constructors are instance 
# variables. 
	
# Class for Dog 
class Dog: 
	
	# Class Variable 
	animal = 'dog'			
	
	# The init method or constructor 
	def __init__(self, breed, color): 
	
		# Instance Variable	 
		self.breed = breed 
		self.color = color		 
	
# Objects of Dog class 
Rodger = Dog("Pug", "brown") 
Buzo = Dog("Bulldog", "black") 

print('Rodger details:') 
print('Rodger is a', Rodger.animal) 
print('Breed: ', Rodger.breed) 
print('Color: ', Rodger.color) 

print('\nBuzo details:') 
print('Buzo is a', Buzo.animal) 
print('Breed: ', Buzo.breed) 
print('Color: ', Buzo.color) 

# Class variables can be accessed using class 
# name also 
print("\nAccessing class variable using class name") 
print(Dog.animal)

Rodger details:
Rodger is a dog
Breed:  Pug
Color:  brown

Buzo details:
Buzo is a dog
Breed:  Bulldog
Color:  black

Accessing class variable using class name
dog

#Defining instance variable using the normal method.

In [ ]:
# Python program to show that we can create 
# instance variables inside methods 
	
# Class for Dog 
class Dog: 
		
	# Class Variable 
	animal = 'dog'	
		
	# The init method or constructor 
	def __init__(self, breed): 
			
		# Instance Variable 
		self.breed = breed			 
	
	# Adds an instance variable 
	def setColor(self, color): 
		self.color = color 
		
	# Retrieves instance variable	 
	def getColor(self):	 
		return self.color	 
	
# Driver Code 
Rodger = Dog("pug") 
Rodger.setColor("brown") 
print(Rodger.getColor())

brown

Create a Class Student
Name
Age
Register_Number
Total_Marks

__init__ Name, Age, Register_Number
marks()
input() Marks of each subject (5)
Total_Marks = Add all 5 subject Marks

report()
Name
Age
Register_Number
Total_Marks

In [ ]:
class Student:
  total_marks=0
  def __init__(self, name, age,register_number):
    self.name = name
    self.age = age
    self.register_number = register_number

  def marks(self):
    print("Enter Marks of 5 subjects")
    while(True):
      subject_mark=input("Enter Mark")
      if(subject_mark=="*"):
        break
      subject_mark=int(subject_mark)
      self.total_marks=self.total_marks+subject_mark
  def report(self):
    print("Name:",self.name)
    print("Age:",self.age)
    print("Register Number:",self.register_number)
    print("Total Marks:",self.total_marks)

In [ ]:
print(Student)

<class '__main__.Student'>

In [ ]:
objs = Student("John", 22, 'KSDEC001')

In [ ]:
objs1 = Student("John", 22, 'KSDEC001')
objs2 = Student("Ann", 22, 'KSDEC002')

In [ ]:
print(objs1,objs2)

<__main__.Student object at 0x7f5c5e586470> <__main__.Student object at 0x7f5c5e586400>

In [ ]:
print(objs)

<__main__.Student object at 0x7f5c5e586080>

In [ ]:
objs.marks()
objs.report()

Enter Marks of 5 subjects
Enter Mark10
Enter Mark20
Enter Mark10
Enter Mark10
Enter Mark20
Enter Mark*
Name: John
Age: 22
Register Number: KSDEC001
Total Marks: 70

In [ ]:
objs2.marks()
objs2.report()

Enter Marks of 5 subjects
Enter Mark10
Enter Mark0
Enter Mark10
Enter Mark10
Enter Mark10
Enter Mark*
Name: Ann
Age: 22
Register Number: KSDEC002
Total Marks: 40

#Accessor and Mutator

In [ ]:
# Python program to illustrate the use of 
# Accessor and Mutator methods 

# Defining class Car 
class Car: 

	# Defining method init method with a parameter 
	def __init__(self, carname): 
		self.__make = carname 

	# Defining Mutator Method 
	def set_make(self, carname): 
		self.__make = carname 

	# Defining Accessor Method 
	def get_make(self): 
		return self.__make 

# Creating an object 
myCar = Car('Ford'); 

# Accesses the value of the variable 
# using Accessor method and then 
# prints it 
print (myCar.get_make()) 

# Modifying the value of the variable 
# using Mutator method 
myCar.set_make('BMW') 

# Prints the modified value 
print (myCar.get_make())

Ford
BMW

Create a class Employee with attributes Name, Salary. __init__ Display Update

In [ ]:
class Employee:
  def __init__(self, name, salary):
    self.name = name
    self.salary = salary
 
  def report(self):
    print("Name:",self.name)
    print("Salary:",self.salary)

class Salary(Employee):
  
  def update(self,increment):
    self.salary=self.salary+increment

objs = Salary("John", 50000)
objs.report()
objs.update(10000)
objs.report()

Name: John
Salary: 50000
Name: John
Salary: 60000

#Inheritance

In [ ]:
# A Python program to demonstrate inheritance 

# Base or Super class. Note object in bracket. 
# (Generally, object is made ancestor of all classes) 
# In Python 3.x "class Person" is 
# equivalent to "class Person(object)" 
class Person(object): 
	
	# Constructor 
	def __init__(self, name): 
		self.name = name 

	# To get name 
	def getName(self): 
		return self.name 

	# To check if this person is an employee 
	def isEmployee(self): 
		return False


# Inherited or Subclass (Note Person in bracket) 
class Employee(Person): 

	# Here we return true 
	def isEmployee(self): 
		return True

# Driver code 
emp = Person("Arun") # An Object of Person 
print(emp.getName(), emp.isEmployee()) 

emp = Employee("John") # An Object of Employee 
print(emp.getName(), emp.isEmployee())

Arun False
John True

In [ ]:
# Python code to demonstrate how parent constructors 
# are called. 

# parent class 
class Person( object ):	 

		# __init__ is known as the constructor		 
		def __init__(self, name, idnumber): 
				self.name = name 
				self.idnumber = idnumber 
		def display(self): 
				print(self.name) 
				print(self.idnumber) 

# child class 
class Employee( Person ):		 
		def __init__(self, name, idnumber, salary, post): 
				self.salary = salary 
				self.post = post 

				# invoking the __init__ of the parent class 
				Person.__init__(self, name, idnumber) 

				
# creation of an object variable or an instance 
a = Employee('Rahul', 886012, 200000, "Intern")	 

# calling a function of the class Person using its instance 
a.display()

Rahul
886012

In [ ]:
# Python example to show the working of multiple 
# inheritance 
class Base1(object): 
	def __init__(self): 
		self.str1 = "Geek1"
		print("Base1") 

class Base2(object): 
	def __init__(self): 
		self.str2 = "Geek2"		
		print("Base2") 

class Derived(Base1, Base2): 
	def __init__(self): 
		
		# Calling constructors of Base1 
		# and Base2 classes 
		Base1.__init__(self) 
		Base2.__init__(self) 
		print("Derived") 
		
	def printStrs(self): 
		print(self.str1, self.str2) 
		

ob = Derived() 
ob.printStrs()

Base1
Base2
Derived
Geek1 Geek2

Class Father   name
Class Mother   name

Class child    name

      display()

In [ ]:
# Python example to show the working of multiple 
# inheritance 
class Father(object): 
	def __init__(self): 
		self.fname = "John"
		print("Name of Father:",self.fname) 

class Mother(object): 
	def __init__(self): 
		self.mname = "Ann"		
		print("Name of Mother:",self.mname) 

class Child(Father, Mother): 
  def __init__(self): 

    # Calling constructors of Base1 
    # and Base2 classes 
    Father.__init__(self) 
    Mother.__init__(self)
    self.cname = "Paul"
    print("Derived") 
		
  def printStrs(self): 
    print(self.fname, self.mname,self.cname) 
		

objchild = Child() 
objchild.printStrs()

Name of Father: John
Name of Mother: Ann
Derived
John Ann Paul

#Polymorphism

In [ ]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] = d[c]+1
    return d

In [ ]:
mylist = ['spam', 'egg', 'spam', 'spam', 'bacon', 'spam']

In [ ]:
type(mylist)

list

In [ ]:
histogram(mylist)

{'bacon': 1, 'egg': 1, 'spam': 4}

In [ ]:
mytuple = ('spam', 'egg', 'spam', 'spam', 'bacon', 'ham')

In [ ]:
type(mytuple)

tuple

In [ ]:
histogram(mytuple)

{'bacon': 1, 'egg': 1, 'ham': 1, 'spam': 3}

Functions that can work with several types are called polymorphic. Polymorphism can facilitate code reuse.

#Examples

In [ ]:
# A simple Python function to demonstrate 
# Polymorphism 

def add(x, y, z = 0): 
	return x + y+z 

# Driver code 
print(add(2, 3)) 
print(add(2, 3, 4))

5
9

Polymorphism in addition operator

In [ ]:
num1 = 1
num2 = 2
print(num1+num2)

3

In [ ]:
str1 = "Python"
str2 = "Programming"
print(str1+" "+str2)

Python Programming

Polymorphic len() function

In [ ]:
print(len("Programiz"))
print(len(["Python", "Java", "C"]))
print(len({"Name": "John", "Address": "Nepal"}))

9
3
2

Polymorphism in Class Methods

In [ ]:
class Cat:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"I am a cat. My name is {self.name}. I am {self.age} years old.")

    def make_sound(self):
        print("Meow")


class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"I am a dog. My name is {self.name}. I am {self.age} years old.")

    def make_sound(self):
        print("Bark")


cat1 = Cat("Kitty", 2.5)
dog1 = Dog("Fluffy", 4)

for animal in (cat1, dog1):
    animal.make_sound()
    animal.info()

Meow
I am a cat. My name is Kitty. I am 2.5 years old.
Bark
I am a dog. My name is Fluffy. I am 4 years old.

Polymorphism and Inheritance

In [ ]:
from math import pi


class Shape:
    def __init__(self, name):
        self.name = name

    def area(self):
        pass

    def fact(self):
        return "I am a two-dimensional shape."

    def __str__(self):
        return self.name


class Square(Shape):
    def __init__(self, length):
        super().__init__("Square")
        self.length = length

    def area(self):
        return self.length**2

    def fact(self):
        return "Squares have each angle equal to 90 degrees."


class Circle(Shape):
    def __init__(self, radius):
        super().__init__("Circle")
        self.radius = radius

    def area(self):
        return pi*self.radius**2


a = Square(4)
b = Circle(7)
print(a)
print(b)
print(a.area())
print(b.area())
print(a.fact())
print(b.fact())

Square
Circle
16
153.93804002589985
Squares have each angle equal to 90 degrees.
I am a two-dimensional shape.

In [ ]:
class India(): 
	def capital(self): 
		print("New Delhi is the capital of India.") 

	def language(self): 
		print("Hindi is the most widely spoken language of India.") 

	def type(self): 
		print("India is a developing country.") 

class USA(): 
	def capital(self): 
		print("Washington, D.C. is the capital of USA.") 

	def language(self): 
		print("English is the primary language of USA.") 

	def type(self): 
		print("USA is a developed country.") 

obj_ind = India() 
obj_usa = USA() 
for country in (obj_ind, obj_usa): 
	country.capital() 
	country.language() 
	country.type()

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.

#Abstract Classes

In [ ]:
from abc import ABC, abstractmethod
 
class AbstractClassExample(ABC):
 
    def __init__(self, value):
        self.value = value
        super().__init__()
    
    @abstractmethod
    def do_something(self):
        print("Hello from Base Class")
        return self.value

class DoAdd42(AbstractClassExample):

    def do_something(self):
        return self.value + 42
    def say_hello(self):
        print("Hello from add")
        return self.value + 42
    
class DoMul42(AbstractClassExample):
   
    def do_something(self):
        return self.value * 42

class DoDiv42(AbstractClassExample):

    def do_something(self):
        return self.value / 42
    
#base =AbstractClassExample(10) ####IMPORTANT####
#print(base.do_something())

x = DoAdd42(10)
y = DoMul42(10)
z = DoDiv42(10)

print(x.do_something())
print(y.do_something())
print(z.do_something())

print(x.say_hello())

52
420
0.23809523809523808
Hello from add
52

A class that is derived from an abstract class cannot be instantiated unless all of its abstract methods are overridden.

An abstract method can have an implementation in the abstract class! Even if they are implemented, designers of subclasses will be forced to override the implementation. Like in other cases of "normal" inheritance, the abstract method can be invoked with super() call mechanism. This enables providing some basic functionality in the abstract method, which can be enriched by the subclass implementation.

In [ ]:
from abc import ABC, abstractmethod
 
class AbstractClassExample(ABC):
    
    @abstractmethod
    def do_something(self):
        print("Some implementation!")
        
class AnotherSubclass(AbstractClassExample):

    def do_something(self):
        super().do_something() #SUPER FUNCTION
        print("The enrichment from AnotherSubclass")
        
x = AnotherSubclass()
x.do_something()

Some implementation!
The enrichment from AnotherSubclass

#Examples

In [ ]:
# Python program showing 
# abstract base class work 

from abc import ABC, abstractmethod 

class Polygon(ABC): 

  # abstract method
  @abstractmethod 
  def noofsides(self): 
    pass

class Triangle(Polygon): 

	# overriding abstract method 
	def noofsides(self): 
		print("I have 3 sides") 

class Pentagon(Polygon): 

	# overriding abstract method 
	def noofsides(self): 
		print("I have 5 sides") 

class Hexagon(Polygon): 

	# overriding abstract method 
	def noofsides(self): 
		print("I have 6 sides") 

class Quadrilateral(Polygon): 

	# overriding abstract method 
	def noofsides(self): 
		print("I have 4 sides") 

# Driver code 
R = Triangle() 
R.noofsides() 

K = Quadrilateral() 
K.noofsides() 

R = Pentagon() 
R.noofsides() 

K = Hexagon() 
K.noofsides()

I have 3 sides
I have 4 sides
I have 5 sides
I have 6 sides

In [ ]:
# Python program showing 
# abstract base class work 

from abc import ABC, abstractmethod 
class Animal(ABC): 

	def move(self): 
		pass

class Human(Animal): 

	def move(self): 
		print("I can walk and run") 

class Snake(Animal): 

	def move(self): 
		print("I can crawl") 

class Dog(Animal): 

	def move(self): 
		print("I can bark") 

class Lion(Animal): 

	def move(self): 
		print("I can roar") 
		
# Driver code 
R = Human() 
R.move() 

K = Snake() 
K.move() 

R = Dog() 
R.move() 

K = Lion() 
K.move()

I can walk and run
I can crawl
I can bark
I can roar