#Class

In [ ]:
class Sum(object):
    """Represents the attributes: x,y
    """
    def calculate(self,x=0,y=0):
        self.x = x
        self.y = y
        print ("Sum:",self.x+self.y)

objsum = Sum()

objsum.calculate(2,2)

Sum: 4

In [ ]:
print(Sum)

<class '__main__.Sum'>

In [ ]:
print(objsum)

<__main__.Sum object at 0x7f431a30c7b8>

#The init method

The init method (short for “initialization”) is a special method that gets invoked when an object is instantiated. Its full name is __init__ (two underscore characters, followed by init, and then two more underscores).

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

#The self Parameter

By convention, the first parameter of a method is called self

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

#Vehicle

In [ ]:

class Vehicle:
    kind = "car"
    value = 10000000.00
    def __init__(self,name,color="white"):
      self.name = name
      self.color = color
      
    def description(self):
        desc_str = "%s is a %s %s worth Rs.%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

car1=Vehicle("BMW","black")
car2=Vehicle("Benz")

print(car1.description())
print(car2.description())

BMW is a black car worth Rs.10000000.00.
Benz is a white car worth Rs.10000000.00.

#Defining instance varibale using constructor.

In [ ]:
# Python program to show that the variables with a value 
# assigned in the class declaration, are class variables and 
# variables inside methods and constructors are instance 
# variables. 
	
# Class for Dog 
class Dog: 
	
	# Class Variable 
	animal = 'dog'			
	
	# The init method or constructor 
	def __init__(self, breed, color): 
	
		# Instance Variable	 
		self.breed = breed 
		self.color = color		 
	
# Objects of Dog class 
Rodger = Dog("Pug", "brown") 
Buzo = Dog("Bulldog", "black") 

print('Rodger details:') 
print('Rodger is a', Rodger.animal) 
print('Breed: ', Rodger.breed) 
print('Color: ', Rodger.color) 

print('\nBuzo details:') 
print('Buzo is a', Buzo.animal) 
print('Breed: ', Buzo.breed) 
print('Color: ', Buzo.color) 

# Class variables can be accessed using class 
# name also 
print("\nAccessing class variable using class name") 
print(Dog.animal)

Rodger details:
Rodger is a dog
Breed:  Pug
Color:  brown

Buzo details:
Buzo is a dog
Breed:  Bulldog
Color:  black

Accessing class variable using class name
dog

#Defining instance variable using the normal method.

In [ ]:
# Python program to show that we can create 
# instance variables inside methods 
	
# Class for Dog 
class Dog: 
		
	# Class Variable 
	animal = 'dog'	
		
	# The init method or constructor 
	def __init__(self, breed): 
			
		# Instance Variable 
		self.breed = breed			 
	
	# Adds an instance variable 
	def setColor(self, color): 
		self.color = color 
		
	# Retrieves instance variable	 
	def getColor(self):	 
		return self.color	 
	
# Driver Code 
Rodger = Dog("pug") 
Rodger.setColor("brown") 
print(Rodger.getColor())

brown

Create a Class Student
Name
Age
Register_Number
Total_Marks

__init__ Name, Age, Register_Number
marks()
input() Marks of each subject (5)
Total_Marks = Add all 5 subject Marks

report()
Name
Age
Register_Number
Total_Marks

In [ ]:
class Student:
  total_marks=0
  def __init__(self, name, age,register_number):
    self.name = name
    self.age = age
    self.register_number = register_number

  def marks(self):
    print("Enter Marks of 5 subjects")
    while(True):
      subject_mark=input("Enter Mark")
      if(subject_mark=="*"):
        break
      subject_mark=int(subject_mark)
      self.total_marks=self.total_marks+subject_mark
  def report(self):
    print("Name:",self.name)
    print("Age:",self.age)
    print("Register Number:",self.register_number)
    print("Total Marks:",self.total_marks)

objs = Student("John", 22, 'KSDEC001')
objs.marks()
objs.report()

Enter Marks of 5 subjects
Enter Mark20
Enter Mark20
Enter Mark30
Enter Mark20
Enter Mark40
Enter Mark*
Name: John
Age: 22
Register Number: KSDEC001
Total Marks: 130

In [ ]:
class student:
  def _init_(self,name,age, register_number):
        self.name=name
        self.age=age
        self.register_number=register_number
  def mark():
      for i in range(5):
        mark=int(input("enter mark"))
        if mark=="Done":
            break
        sum=sum+mark
        return sum
  def report():
      pass
      #print("name:%2f , register number :%2d, age:%2f , Total marks:%2f" .%(self.name ,self.age,self,register_number,self.sum))