#Lists-List Values

In [ ]:
list1= [10, 20, 30, 40]
list2= ["spam", "bungee", "swallow"]
list3= ["hello", 2.0, 5, [10, 20]]

In [ ]:
len(list1)

4

In [ ]:
print(list1)
print(list2)
print(list3)

[10, 20, 30, 40]
['spam', 'bungee', 'swallow']
['hello', 2.0, 5, [10, 20]]

In [ ]:
empty = []

In [ ]:
print(empty)

[]

In [ ]:
len(empty)

0

In [ ]:
vocabulary = ["ameliorate", "castigate", "defenestrate"]
numbers = [17, 123,2.3]
empty = []

#Accessing Elements

The syntax for accessing the elements of a list is the same as the syntax for
accessing the characters of a string|the bracket operator ([]). The expression
inside the brackets specifies the index. Remember that the indices start at 0:

In [ ]:
numbers = [10, 20,30]

In [ ]:
print(numbers)

[10, 20, 30]

In [ ]:
numbers[2]

30

**Lists are mutable**

In [ ]:
print (numbers)
numbers[0] = 100
print(numbers)

[10, 55, 30]
[100, 55, 30]

The bracket operator can appear anywhere in an expression. When it appears
on the left side of an assignment, it changes one of the elements in the list, so the one-eth element of numbers, which used to be 123, is now 5.

Any integer expression can be used as an index:

In [ ]:
type(3/1)

float

In [ ]:
3/1

3.0

In [ ]:
numbers[1+1]

30

In [ ]:
numbers[1.0]

TypeError: ignored

In [ ]:
numbers[1] = 5

In [ ]:
def head(list):
  list[0]=1
  print(list)
  return list[0]

In [ ]:
print(numbers)

[100, 5, 30]

In [ ]:
head(numbers)

[1, 5, 30]

1

In [ ]:
numbers

[1, 5, 30]

If an index has a negative value, it counts backward from the end of the list:

In [ ]:
numbers=1

IndentationError: ignored

In [ ]:
numbers[0:2]

[1, 5]

#List traversal

In [ ]:
horsemen = ["war", "famine", 3, [1,2]]
i = 0
while i < len(horsemen):
  print (horsemen[i])
  i = i + 1

war
famine
3
[1, 2]

In [ ]:
len(horsemen)

4

#List length

The function len returns the length of a list. It is a good idea to use this value
as the upper bound of a loop instead of a constant

In [ ]:
len(horsemen)

4

In [ ]:
horsemen = ["war", "famine", "pestilence", "death"]
i = 0
while i < len(horsemen):
  print (horsemen[i])
  i = i + 1

war
famine
pestilence
death

Although a list can contain another list, the nested list still counts as a single
element. The length of this list is four:

As an exercise, write a loop that traverses the  list and prints
the length of each element. What happens if you send an integer to
len?

In [ ]:
listcheck =['spam!', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

In [ ]:
len(listcheck)

4

#List membership

in is a boolean operator that tests membership in a sequence.

In [ ]:
fruits = ['apple','mango','orange']

In [ ]:
'orange' in fruits

True

In [ ]:
'banana' in fruits

False

In [ ]:
'banana' not in fruits

True

#Lists and for loops

In [ ]:
fruits = ['apple', 'mango', 'orange',3,'grape']

In [ ]:
fruits = ['Apple', 'Mango', 'Grape']
for fruit in fruits:
  if fruit=='apple':
    print("Apple")
  elif fruit =='mango':
    print("Mango")
else:
  print("Grape")

Grape

Range doesnot returns list in Python 3

In [ ]:
range(20)

range(0, 20)

In [ ]:
for number in range(20):
  if number % 2 == 0:
    print (number)

0
2
4
6
8
10
12
14
16
18

#List operations

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a+b)

[1, 2, 3, 4, 5, 6]

the * operator repeats a list a given number of times:

In [ ]:
[1]*5

[1, 1, 1, 1, 1]

In [ ]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#List slices

In [ ]:
mylist = ['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
mylist[1:4]

['b', 'c', 'd']

In [ ]:
mylist[:4]

['a', 'b', 'c', 'd']

In [ ]:
mylist[3:]

['d', 'e', 'f']

In [ ]:
mylist[:]

['a', 'b', 'c', 'd', 'e', 'f']

#List deletion

In [ ]:
a = ['one', 'two', 'three']

In [ ]:
del a[0]

In [ ]:
a

['two', 'three']

del handles negative indices and causes a runtime error
if the index is out of range.

In [ ]:
del a[-1]

In [ ]:
a

['two']

In [ ]:
del a[3]

IndexError: ignored

You can use a slice as an index for del:

In [ ]:
list = ['a', 'b', 'c', 'd', 'e', 'f']

slices select all the elements up to, but not including, the second index.

In [ ]:
del list[1:3]

In [ ]:
list

['a', 'd', 'e', 'f']

#Objects and values

In [ ]:
a = "banana"
b = "banana"

In [ ]:
id(a)

140104390260136

In [ ]:
id(b)

140104390260136

In [ ]:
c = [1, 2, 3]
d = [1, 2, 3]

In [ ]:
id(c)

140104716591752

In [ ]:
id(d)

140104390224328

#Aliasing

In [ ]:
d = [1, 2, 3]
e=d

In [ ]:
id(d)

140104390331528

In [ ]:
id(e)

140104390331528

Because the same list has two different names, a and b, we say that it is aliased.

Changes made with one alias affect the other

In [ ]:
d = [1, 2, 3]
e=d
e[0]=10

In [ ]:
print(e)

[10, 2, 3]

In [ ]:
print(d)

[10, 2, 3]

In general, it is safer to avoid aliasing when you are working with mutable
objects

#Cloning lists

If we want to modify a list and also keep a copy of the original, we need to
be able to make a copy of the list itself, not just the reference. This process is
sometimes called cloning

In [ ]:
a = [1, 2, 3]
b = a[:]
print (b)

[1, 2, 3]

In [ ]:
id(a)

139621134870984

In [ ]:
id(b)

139621135226568

In [ ]:
b[0] = 5
print (a)

[1, 2, 3]

Taking any slice of a creates a new list. In this case the slice happens to consist
of the whole list.
Now we are free to make changes to b without worrying about a

#List parameters

Passing a list as an argument actually passes a reference to the list, not a copy
of the list

In [ ]:
numbers = [1, 2, 3]

In [ ]:
def head(list):
  list[0]=10
  return list[0]

In [ ]:
head(numbers)

10

In [ ]:
print(numbers)

[10, 2, 3]

The parameter list and the variable numbers are aliases for the same object.

If a function modifies a list parameter, the caller sees the change

In [ ]:
def deleteHead(list):
 del list[0]

In [ ]:
numbers = [1, 2, 3]
deleteHead(numbers)
print(numbers)

[2, 3]

If a function returns a list, it returns a reference to the list.

In [ ]:
def tail(list):
  return list[1:]

In [ ]:
numbers = [1, 2, 3]
rest = tail(numbers)
print(rest)
print(numbers)

[2, 3]
[1, 2, 3]

In [ ]:
def clone(list):
  return list[:]

In [ ]:
newlist =clone(numbers)

Because the return value was created with the slice operator, it is a new list.

#Nested lists

In [16]:
list = ["hello", 2.0, 5, [[10, 20,30]]]

In [26]:
list = ["hello",[11,2], [[10,'Apple']]]

In [28]:
list[1][0]

11

In [24]:
list[1][0][0]

10

In [17]:
list[3][0]

[10, 20, 30]

In [21]:
list[3][0][2]

30

In [ ]:
list = ["hello", 2.0, 5, [10, 20,30]]

In [ ]:
list[3][2]

30

In [ ]:
list[3]

[10, 20]

In [ ]:
elt = list[3]
elt[1]

20

In [ ]:
list[3][1]

20

Bracket operators evaluate from left to right, so this expression gets the threeeth
element of list and extracts the one-eth element from it.

#Matrices

Nested lists are often used to represent matrices

matrix is a list with three elements, where each element is a row of the matrix.

In [29]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [30]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [33]:
matrix[2][0]

6

In [32]:
matrix[2][0]=6

In [ ]:
matrix[2][0]

6

In [34]:
matrix

[[1, 2, 3], [4, 5, 6], [6, 8, 9]]

In [35]:
matrix[2]

[6, 8, 9]

In [36]:
len(matrix)

3

In [ ]:
matrix

[[1, 2, 3], [4, 5, 6], [6, 8, 9]]

We can select an entire row from the matrix in the usual way:

In [38]:
matrix[0]

[1, 2, 3]

Or we can extract a single element from the matrix using the double-index form

In [ ]:
matrix[1][1]

5

#Strings and lists

In [39]:
song = "The rain in Spain..."
splitsong = song.split(" ")
print(splitsong)

['The', 'rain', 'in', 'Spain...']

In [40]:
list = ['The', 'rain', 'in', 'Spain...']
songjoin = " "
songjoin=songjoin.join(list)
songjoin

'The rain in Spain...'

In [41]:
list = ['The', 'rain', 'in', 'Spain...']
songjoin = " "
songjoin=songjoin.join(list)
print(songjoin)

The rain in Spain...

#List from Range

In [42]:
nums = [range(1, 1000001)]
print(nums)

[range(1, 1000001)]

In [43]:
nums = range(1, 1000001)
print(nums)

range(1, 1000001)

We can use argument-unpacking operator *

In [46]:
nums = [*range(1, 10)]
len(nums)
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

We can use the extend() function to unpack the result of range function

In [49]:
list = [] 
list.extend(range(1, 10)) 
len(list) 
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#Popping elements

In [50]:
colors =['red','blue','green']

In [52]:
# Pop the last item from a list
color = colors.pop()
print(color)

green

In [53]:
print(colors)

['red', 'blue']

In [54]:
# Pop the first item in a list
color = colors.pop(0)
print(color)

red

In [55]:
print(colors)

['blue']

#List Comprehension

new_list = [expression for member in iterable]

In [59]:
letter =[]
for letter in 'apple':
  print (letter)

a
p
p
l
e

In [68]:
mylist = [1,2,3,4,5]

In [70]:
list=[i*i for i in mylist]
list

[1, 4, 9, 16, 25]

In [60]:
letters = [ letter for letter in 'apple' ]
print( letters)

['a', 'p', 'p', 'l', 'e']

In [66]:
squares = [i **2 for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

The only distinction between this implementation and map() is that the list comprehension in Python returns a list, not a map object.

Using Conditional Logic

new_list = [expression for member in iterable (if conditional)]

In [71]:
sentence = 'the rocket came back from mars'
vowels = [i for i in sentence]
vowels

['t',
 'h',
 'e',
 ' ',
 'r',
 'o',
 'c',
 'k',
 'e',
 't',
 ' ',
 'c',
 'a',
 'm',
 'e',
 ' ',
 'b',
 'a',
 'c',
 'k',
 ' ',
 'f',
 'r',
 'o',
 'm',
 ' ',
 'm',
 'a',
 'r',
 's']

In [74]:
sentence = 'the rocket came back from mars'
vowels = [i for i in sentence if i  in 'aeiou']
vowels

['e', 'o', 'e', 'a', 'e', 'a', 'o', 'a']

In [76]:
sentence = 'The rocket, who was named Ted, came back \
from Mars because he missed his friends.'
def is_consonant(letter):
    vowels = 'aeiou'
    return letter.isalpha() and letter.lower() not in vowels
consonants = [i for i in sentence if is_consonant(i)]
consonants

['T',
 'h',
 'r',
 'c',
 'k',
 't',
 'w',
 'h',
 'w',
 's',
 'n',
 'm',
 'd',
 'T',
 'd',
 'c',
 'm',
 'b',
 'c',
 'k',
 'f',
 'r',
 'm',
 'M',
 'r',
 's',
 'b',
 'c',
 's',
 'h',
 'm',
 's',
 's',
 'd',
 'h',
 's',
 'f',
 'r',
 'n',
 'd',
 's']

In [78]:
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
prices = [i if i > 0 else 0 for i in original_prices]
prices

[1.25, 0, 10.22, 3.78, 0, 1.16]