In [ ]:
2<3 and 4 > 5

False

In [ ]:
if (2<3 and 4 > 5):
  print("Correct")

In [ ]:
1996

2005

In [ ]:
myvalue =59
if (myvalue < 100):
  if (myvalue < 50):
    print("My Value is less than 50")
  else:
    print("My value is between 50 and 100")
else:
  print("My value is greater than 100")

My value is between 50 and 100

In [ ]:
myvalue =110
if (myvalue > 100):
  print("My value is greater than 100")
elif (myvalue < 50):
    print("My Value is less than 50")
elif ():

elif ():

else:
    print("My value is between 50 and 100")

My value is greater than 100

#Write a program to check user entered year is leap year or not

In [ ]:
year = 3200
if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

3200 is a leap year

In [ ]:
2101/4 #NOT a Leap Year

525.25

In [ ]:
print(1996/4) # Leap year
print(1996/100) # Leap year

499.0
19.96

In [ ]:
print(2100/4) # Not Leap year
print(2100/100) # Not Leap year
print(2100/400) #Not Leap year

525.0
21.0
5.25

In [ ]:
print(3200/4) #  Leap year
print(3200/100) #  Leap year
print(3200/400) # Leap year

800.0
32.0
8.0

In [ ]:
year=int(input("Enter the year:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("This is a leap year")
else:
    print("This isn't a leap year")

Enter the year:2105
This isn't a leap year

In [ ]:
def sum1():
  number1=int(input("Enter number"))
  number2=int(input("Enter number"))
  print(number1+number2)

In [ ]:
result =sum1()

Enter number10
Enter number20
30

In [ ]:
print(result)

None

In [ ]:
def sum2():
  number1=int(input("Enter number"))
  number2=int(input("Enter number"))
  return number1+number2

In [ ]:
result =sum2()

Enter number10
Enter number30

In [ ]:
print(result)

40

In [ ]:
def sum1_1(number1,number2=1000):
  #print(number1)
  #print(number2)
  print(8/0)
  print("Printing from sum 1_1:",number1+number2)

In [ ]:
nu1=int(input("Enter number"))
sum1_1(nu1,200)

Enter number10
10
200
210

In [ ]:
def sum2_1(number1,number2=1000):
  #print(number1)
  #print(number2)
  sum1_1(number1)
  return(number1+number2)

In [ ]:
result=sum2_1(100,0)
print(result)

100
0
100

In [ ]:
def mymain():
  myresult=sum2_1(10)
  print("Returned value from sum 2_1",result)

In [ ]:
mymain()

ZeroDivisionError: ignored

In [ ]:
mymain

Write a Python program to check the validity of a password given by the user.
The Password should satisfy the following criteria:
1. Contains at least one letter between a and z
2. Contains at least one number between 0 and 9
3. Contains at least one letter between A and Z
4. Contains at least one special character from $, #, @
5. Minimum length of password: 6

In [ ]:
password  = input(" ENTER THE PASSWORD = ")
upper=False
number=False
lower=False
special = False
num=['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
upp = ['A','B''C]
#lower = ['a']
#special =['$]
if len(password) < 6:
   print("Password length is too short. Minimum length of password should be 6")
else:
  for i in password:
     if i in upp:
        upper=True
     elif i in num:
        number=True
     elif i.islower() == True:
        lower=True
     elif i =="$" or i =="#" or i == "@":
        special=True
if upper==True and number==True and lower==True and special==True:
    print("Password accepted")
else: 
    print("Password not accepted")

 ENTER THE PASSWORD = Lb1234
Password not accepted