# 1. Write a Python code to create a class named 'Member' having the following members: Data members Name, Age, Phone number, Address, Salary. It also has a method named 'printSalary' which prints the salary of the members. Two classes 'Employee' and 'Manager' inherits the 'Member' class. The 'Employee' and 'Manager' classes have data members 'specialization' and 'department' respectively. Now, assign name, age, phone number, address and salary to an employee and a manager by making an object of both of these classes and print the same.

In [52]:
 
class Member:
    def __init__(self, name, age, phonenumber, address, salary):
        self.name = name
        self.age = age
        self.phonenumber=phonenumber
        self.address=address
        self.salary=salary
    
    def printSalary(self):
        print("Salary : ",self.salary)
 
 
 
class Employee(Member):  # Inheritance
    def __init__(self, specialization,name, age, phonenumber, address, salary):
        super().__init__(name, age, phonenumber, address, salary)
        self.specialization = specialization
 
    def report(self):
        print("specialization : ",self.specialization)
        print("Name:", self.name)
        print("age:", self.age)
        print("phone number:", self.phonenumber)
        print("Address:", self.address)

 
 
class Manager(Member):  # Inheritance
    def __init__(self, department,name, age, phonenumber, address, salary):
        super().__init__(name, age, phonenumber, address, salary)
        self.department = department
 
    def report(self):
        print("Department : ", self.department)
        print("Name:", self.name)
        print("age:", self.age)
        print("phone number:", self.phonenumber)
        print("Address:", self.address)

In [53]:
a = Employee("Development","Devika",28,33333,"ABC",43000)
print(a.report())

print(a.printSalary())

specialization :  Development
Name: Devika
age: 28
phone number: 33333
Address: ABC
None
Salary :  43000
None

#Write a Python program to find out the total mark of a student using  inheritance. Declare a Student class. Student class should have the member functions for accept and display student details. Declare a Sports class to accept and display  sports marks of the student. Derive a class statement from both the classes. This class  should have the member functions to accept marks of three subjects and add those  marks with sports marks and display the result.

In [93]:
class Student(object): 
  def __init__(self): 
    self.name = "ABC"
    self.age = 30
    self.address = "Kerala"
    print("Student Class") 

class Sports(object): 
  def __init__(self): 
    self.smark = 40		
    print("Sports Class") 
  def accept_mark(self):
    self.smark = int(input("Sport Mark "))

class Statement(Student, Sports): 
  def __init__(self): 
    Student.__init__(self) 
    Sports.__init__(self) 
    print("Statement Class") 
  def accept_mark(self):
    self.m1 = int(input("Sub 1 "))
    self.m2 = int(input("Sub 2 "))
    self.m3 = int(input("Sub 3"))
    Sports.accept_mark(self)


  def display_total(self):
    self.Total = self.m1+self.m2+self.m3+self.smark
    print(f"{self.name}\'s Total marks is {self.Total}")
		

ob = Statement() 
ob.accept_mark() 
ob.display_total()

Student Class
Sports Class
Statement Class
Sub 1 10
Sub 2 10
Sub 310
Sport Mark 100
ABC's Total marks is 130